*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  --primary: #248b6c;
  --secondary: #38D1A3;
  --tertiary: #165240;
  --background: #F5F6F7;
  --light: #eeeeee;
  --gray: #808080;
  --gray-light: #c9c9c9;
  --text: #525252;
  --red: #b52351;
  --blue: #073e5e;
  --blue-light: #4a6e85;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--gray-light); 
}
 
::-webkit-scrollbar-thumb {
  background: var(--gray); 
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray); 
}

@media(max-width: 1080px){
  html {
    font-size: 93.75%;
  }
}

@media(max-width: 720px){
  html {
    font-size: 87.5%;
  }
}

textarea:focus, input:focus, select:focus, button:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 

button:active {
  -webkit-tap-highlight-color: transparent;
}

body {
  background: var(--background);
  color: var(--text);
}

body, input, textarea, button {
  font: 400 1rem "Inter", sans-sarif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}